<input type="text" (input)="takeInput($event)">
<input type="text" (input)="sendData($event)" placeholder="Send some message via service">
<button (click)="resetChildMessage($event)">Reset Message</button><br>
<!--<button (click)="getAllChildren($event)">Send Data to All Children</button>-->
<input type="text" (input)="getAllChildren($event)" placeholder="Type here to send to all children">
<app-child1></app-child1>
<app-child1></app-child1>
<app-child1></app-child1>
<app-child1></app-child1>



<!--<tictactoegame>
  <ticButton></ticButton>
  <ticButton></ticButton>
  <ticButton></ticButton>
  <ticButton></ticButton>
  <ticButton></ticButton>
  <ticButton></ticButton>
  <ticButton></ticButton>
  <ticButton></ticButton>
  <ticButton></ticButton>
</tictactoegame>

<List>
  <Item></Item>
  <Item></Item>
  <Item></Item>
  <Item></Item>
</List>-->